<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>

<body>

<h1>📊 Dashboard</h1>

<form method="POST">
    <input type="number" name="bedrooms" value="{{ bedrooms }}">
    <button type="submit">Update</button>
</form>

<h3>Bedrooms vs Price</h3>
<img src="data:image/png;base64,{{ bar }}" width="600">

<h3>Area vs Price</h3>
<img src="data:image/png;base64,{{ scatter }}" width="600">

<h3>Bathrooms vs Price</h3>
<img src="data:image/png;base64,{{ scatter2 }}" width="600">

<br><br>
<a href="/">Back</a>

</body>
</html>
