<!DOCTYPE html>
<html>
<head>
    <title>Zillow House Price Prediction</title>
</head>

<body>

<h2>🏡Zillow House Price Prediction</h2>

<form action="/predict" method="POST">

    <input type="number" name="calculatedfinishedsquarefeet" placeholder="Area" required>
    <input type="number" name="bedroomcnt" placeholder="Bedrooms" required>
    <input type="number" name="bathroomcnt" placeholder="Bathrooms" required>
    <input type="number" name="garagecarcnt" placeholder="Garage" required>
    <input type="number" name="yearbuilt" placeholder="Year Built" required>

    <button type="submit">Predict</button>
</form>

{% if prediction_text %}
    <h3>{{ prediction_text }}</h3>
{% endif %}

{% if confidence_text %}
    <p>{{ confidence_text }}</p>
{% endif %}

{% if plot_url %}
    <img src="data:image/png;base64,{{ plot_url }}" width="500">
{% endif %}

<br><br>
<a href="/dashboard">Go to Dashboard</a>

</body>
</html>
